h1 {
    color: whitesmoke;
    line-height: 50px;
    vertical-align: middle;
}

ul li {
    color: whitesmoke;
    list-style: none;
    display: inline;
    margin:20px;
    vertical-align: middle;
}