#banner {
  width: 100%;
}

#movieError {
    text-align: center;
    color: red;
}

#snackError {
    text-align: center;
    color: red;
}

#moviesection h2 {
    text-align: center;
    display: block;
}

#snacksection h2 {
    text-align: center;
    display: block;
}

#moviesection form {
    text-align:center;
    display: flex;
    justify-content: center;
    
}

#snacksection form {
    text-align: center;
    display: flex;
    justify-content: center;
}

#button {
    text-align: center;
    margin: 20px;
}
